﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.error {
    background-color: red;
    color: greenyellow;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

body {
    
    float: none;
    vertical-align: top;
    text-align: center;
}

.form-horizontal {
    display: inline-block;  
    float: none;
    vertical-align: top;
    text-align: center;
}

#signOut {
    position: relative;
    left: 50%;  
}
 
#signOutAdmin {
    position: relative;
    left: 25%; 
} 

.editor {
    position: relative;
    left: 20%;
}

 /*butoane clase*/
 @font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans CondLight'), local('OpenSansCondensedLight'), url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xF1YPouZEKgzpqZW9wN-3Ek.woff) format('woff');
}
/*basic stuff incoming*/

* {
  margin: 0;
  padding: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
} 
 
.butoane {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100px;
  height: 40px;
  color: #ffffff;
  background-color: black;
  font-family: Open Sans Condensed; 
  font-size: 1.8em;
  border: 2px  lightblue solid;
  margin: 10px 0 0 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
/*magic starts here*/

.butoane:hover {
  cursor: pointer;
}

.butoane:hover {
  background-color: #FFffff;
  color: lightblue;
}
  
    