﻿@model myFinance.myFinanceUser
@{ Html.EnableClientValidation(true); }
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inregistreaza-te</h2>
<p class="error">@ViewBag.EroareParole</p>
<p class="error">@ViewBag.EroareEmail</p>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger " })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control editor"}})
            </div>
            <span>@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger " })</span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nume, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nume, new { htmlAttributes = new { @class = "form-control editor" } })
                @Html.ValidationMessageFor(model => model.Nume, "", new { @class = "text-danger " })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prenume, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prenume, new { htmlAttributes = new { @class = "form-control editor" } })
                @Html.ValidationMessageFor(model => model.Prenume, "", new { @class = "text-danger " })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Parola, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Parola, new { htmlAttributes = new { @class = "form-control editor", type = "password" } })
                @Html.ValidationMessageFor(model => model.Parola, "", new { @class = "text-danger " })
            </div>
        </div>

        <div class="form-group">
        <span style="font-weight: bold" class ="control-label col-md-2">Confirma&nbsp;parola</span>
            @*@Html.LabelFor(model => model.ConfirmaParola, htmlAttributes: new {@class = "control-label col-md-2"})*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmaParola, new {htmlAttributes = new {@class = "form-control editor", type="password"}})
                @Html.ValidationMessageFor(model => model.ConfirmaParola, "", new {@class = "text-danger " })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Inregistreaza-te" class="btn btn-default editor" />
            </div>
        </div>
    </div>
}

 



