﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - myFinance Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/> 
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top cls">
        <div class="container cls" >
            <div class="navbar-header cls">
                <button type="button" class="navbar-toggle cls" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar cls"></span>
                    <span class="icon-bar cls"></span>
                    <span class="icon-bar cls"></span>
                </button>
                
                
            </div>
            <div class="navbar-collapse collapse cls">
                <ul class="nav navbar-nav cls">
                    <li style="color:lightblue">myFinance</li> 
                    @if (Session["Logat"] != null)
                    {
                        <li style="color: red">
                            <h4>Urmeaza a fi puse butoane specifice paginii de aministrator</h4></li>
                        <li id="signOutAdmin">
                            @using (Html.BeginForm("Logout", "RegistrationLogin"))
                            {
                                <button type="submit" class="butoane"> Logout </button>
                            }
                        </li>
                    } 
                </ul>
            </div>
        </div>
    </div>

<div class="container body-content">
    @ViewBag.Message
    @RenderBody()
    <hr/>
    <footer class="cls">
        <p>&copy; @DateTime.Now.Year - myLogin</p>
    </footer>
</div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>