﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - myFinance Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/> 
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top cls">
        <div class="container cls" >
            <div class="navbar-header cls">
                <button type="button" class="navbar-toggle cls" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar cls"></span>
                    <span class="icon-bar cls"></span>
                    <span class="icon-bar cls"></span>
                </button>
                
                
            </div>
            <div class="navbar-collapse collapse cls">
                <ul class="nav navbar-nav cls">
                    <li style="color:lightblue">myFinance</li>
                     
                    @if (Session["Logat"] != null)
                    { 
                        @*<li>@Html.ActionLink("Acasa", "Index", "Logat")</li>
                        <li>@Html.ActionLink("Venituri", "Index", "Logat")</li>
                        <li>@Html.ActionLink("Cheltuieli", "Index", "Logat")</li>
                        <li>@Html.ActionLink("Grafice", "Index", "Logat")</li>*@
                        @*<li id="signOut">@Html.ActionLink("LogOut", "Logout", "RegistrationLogin")</li>*@

                        @*La formul de mai jos Html.BeginForm("Index", "Logat") exprima actiune si controller*@
                        <li>
                            @using (Html.BeginForm("Index", "Logat")) 
                            {
                                <button type="submit" class="butoane">Acasa</button>
                            }
                        </li>
                        <li>
                            @using (Html.BeginForm("Index", "Logat"))  
                            {
                                <button type="submit" class="butoane">Venituri</button>
                            }
                        </li>
                        <li>
                            @using (Html.BeginForm("Index", "Logat"))  
                            {
                                <button type="submit" class="butoane">Cheltuieli</button>
                            }
                        </li>
                        <li>
                            @using (Html.BeginForm("Index", "Logat"))  
                            {
                                <button type="submit" class="butoane">Grafice</button>
                            }
                        </li>
                        <li id="signOut">
                            @using (Html.BeginForm("Logout", "RegistrationLogin"))
                            {
                                <button type="submit" class="butoane"> Logout </button>
                            }
                        </li>
                    }
                     
                </ul>
            </div>
        </div>
    </div>

<div class="container body-content">
    @ViewBag.Message
    @RenderBody()
    <hr/>
    <footer class="cls">
        <p>&copy; @DateTime.Now.Year - myLogin</p>
    </footer>
</div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>